<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher管理</title>
</head>
<body>
    <table border>
    <h3>教师列表</h3>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>操作</th>
        </tr>
        {% for row in teacherList %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.name }}</td>
            <td><a href="/del_teacher?did={{ row.id }}">删除</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>